#h1one{
    background-color:blueviolet;
    text-align: center;
    padding:10px;
    margin:auto;
    width:98.93%;
 }
#textbox{
  background-color:rgba(74, 139, 48, 0.3);
  outline:none;
  width:100%;
  height:220px;
  resize:none;
  font-size: 20px;
  font-family: sans-serif;
 
}
#ptag1{
  background-color:blueviolet;
  Width:98.93%;
  padding:10px;
  margin-top:-5px;
  font-size:22px;
  font-weight:bold;
}
#ptag1 span{
    color:goldenrod;
}
#ptag1 button{
 margin-left:79%;
  padding:5px 12px;
  background-color: rgb(179, 7, 7);
  font-size: 18px;
  font-weight:500;
  color: white;
}
#timer-box{
    font-size:30px;
    font-weight:bold;
    margin-left:81%;
    padding:10px;
    background-color:blueviolet;
    border:6px solid rgb(155, 14, 42);
    color:white;
    width:155px;
}